.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    background-color: hsl(212, 45%, 89%);
    padding-top:16rem ;

}

.main {
    text-align:center;
    background-color: hsl(0, 0%, 100%);
    align-items: center;
    width:22%;
    margin: auto;
    padding-top: 1rem;
    border-radius: 1.5rem 1.5rem;
    font-family: "Poppins", sans-serif;
    
}

.image{

}

.image>h1{
color:hsl(218, 44%, 22%);
padding:0.0px 2rem ;  
font-size:20px; 
font-weight:700px;

}

.image>p{
    color:hsl(216, 15%, 48%) ;
    padding:0.0rem 1.5rem ;
    font-size:15px ;
    padding-bottom:2rem;
    font-weight:400px;
}

.image>img{
    border-radius:0.5rem 1rem;
}